<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/design/css/style.css" >
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<title>Awesome<?=$title?></title>
</head>
<body>
<?=$content?>
</body>
</html>


