<h2>Přihlášení</h2>
<div class="form">
	<form action="" method="post">
		<table>
			<tr><td>Login</td></tr>
			<tr><td><input type="login" name="login"></td></tr>
			<tr><td>Password</td></tr>
			<tr><td><input type="password" name="password" ></td></tr>
			<tr><td><input type="submit"></td></tr>
		</table>
	</form>
</div>